@media only screen and (min-width: 780px) {
    .recipe-box {
      height: 23rem;
    }
  }
  
  body { 
    background: url(mainlemon.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
  }
  
  header a {
    text-decoration: none;
    color: rgb(68, 68, 63);
    /* font-size: 170%; */
    text-align: center;
  }
  
  a:hover, a:visited { 
    text-decoration: none;
    color: rgb(37, 37, 35);
  }
  
  .btn, .btn:link, .btn:visited {
    color: rgb(54, 53, 50);
    text-decoration: none;
    padding: .5rem .75rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer; 
  }
  
    .btn:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
    }
  
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; 
    }
    
    .btn:active, .btn:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
    .btn--green {
      background-color:rgb(253, 210, 15);;
      color:  #fff; 
      font-size: 24px;
      padding: 1rem;
     
    }
  
    .fa-spin {
      font-size:100%;
      margin-right: 10px;
    }
  
    .hidden {
      display: none;
    }
  
    .error {
      
      background-color: #f8d7da;
      border-color: #f5c6cb;
      border: 1px solid transparent;
      border-radius: .25rem;
      color: #721c24;
      position: relative;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;   
  }
  
  .sort-by {
    margin: 1rem;
    text-align: center;
    font-size: 20px;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s; }
  
  .card__picture {
    background-size: cover; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
    transition: all .3s;
  }
  
  .cursive {
   font-family: 'Old Standard TT', serif;
   font-size: 40px;
  }
  
  .header-main {
    /* margin-bottom: .1rem; */
    position: sticky;
  }
  
  .get-started {
    color: rgba(110, 107, 107, 0.6);
    min-height: 15rem;
    text-align: center;
  }

    header {
      color: rgb(253, 210, 15);
      padding: 0px;
      align-content: center;
      text-align: center;
    }
    
    header h2 {
      margin-bottom: 2px;
    }
  
    .recipe-box {
      background-color: #ffe599ff;
      border: 1px solid rgb(209, 209, 209);    
      color: rgb(46, 45, 42);
      margin-bottom: .5rem;
      position: relative;
      opacity: 1;    
      transition: transform .3s;
      font-size: 18px;         
    }
  
    .recipe-box__details {
      display: none;    

      position: absolute;
      top: 30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      width: 100%;        
     
    }
  
    .recipe-box__link {
      text-align: center;
      color: #fff;
    }
  
    .recipe-box a, a:hover, a:visited {
      color: rgb(46, 45, 42);
      text-decoration: none;
      background-color: #fff;

    }
    
    .recipe-box img {    
      width: 100%;
      height: auto;
    }
  
    .recipe-box__health-labels {       
      display: flex;
      justify-content: center;
    } 
  
    .recipe-box__health-labels ul {    
      list-style: none;
      margin-top: 10px;
      padding: 0;    
    } 
  
    .recipe-box__health-labels ul li {
      padding-left: 1.3em;
    }
  
    .recipe-box__health-labels ul li:not(:last-child) {
      margin-bottom: 3px;
    }
  
    .recipe-box__health-labels ul li:before {
      font-family: 'Quicksand', sans-serif;
      display: inline-block;
      margin-left: -1.3em; /* same as padding-left set on li */
      width: 1.3em; /* same as padding-left set on li */
    }
  
    .recipe-box__ingredients {
        text-align: center;     
    }
  
    .recipe-box:hover {
      transform: translateY(-.5rem) scale(1.03);
  }
    
    .recipe-text {
      padding: .5rem;
      position: relative;    
      height: 5rem;
    }
    
    .recipe-text span {
      display: block;
      margin-bottom: .5rem;;
    }
  
    .recipe-text__time {
      font-size: .8rem;
      position: absolute;
      bottom: 0;
    }
  
    .search-criteria {
      margin: 1.5rem 0;
    }
  
    .js-search-form {
      font-size: 20px;
      margin-top: 50px;
      padding-top: 50px;
    }

    .search-btn-row {
      text-align: center;
    }
  
  /* Full-width text input fields */
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Grid measurements:
   *
   *   960px wide including 12 gutters (half gutters on both edges)
   *
   *   60px columns (12)
   *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
   *
   *
   *   For smaller screens, we always want 20px of padding on either side,
   *   so 960 + 20 + 20 => 1000px
   *
   **/
  
   .container {
     max-width: 960px;
     margin: 0 auto;
   }
  .row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  /* Clearfix */
  .row::before,
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  .col-3, .col-4, .col-6, .col-12 {
    float: left;
  
    /* Gutters:
     * Each column is padded by half-a-gutter on each side,
     *
     * Half a gutter is 10px, 10/960 (context) = 1.041666%
     *
     */
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  /* Mobile defaults */
  .col-3, .col-4, .col-6, .col-12 {
    width: 100%;
  }
  
  
  /* Non-mobile, grid */
  @media only screen and (min-width: 640px) {  
    
    /* 3 columns, 3/12 in % */
    .col-3 {
      width: 25%;
    }
  
    /* 4 columns, 4/12 in % */
    .col-4 {
      width: 33.33%;
    }
  
    /* 6 columns 6/12 in % */
    .col-6 {
      width: 50%;
    }
  
    /* 12 columns, 12/12 */
    .col-12 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 640px) {  
  .js-search-form{
    font-size: 16px;
    padding: 1px;
    width: 80%;
  }
  }